SCHOOL_SITE_APP_DEBUG=
SCHOOL_SITE_APP_BASE_URL=
SCHOOL_SITE_APP_DB__PROVIDER=
SCHOOL_SITE_APP_DB__HOST=
SCHOOL_SITE_APP_DB__PORT=
SCHOOL_SITE_APP_DB__USER=
SCHOOL_SITE_APP_DB__PASSWORD=
SCHOOL_SITE_APP_DB__NAME=
SCHOOL_SITE_APP_CORS_ORIGINS=
SCHOOL_SITE_APP_SECRET_KEY=

SCHOOL_SITE_APP_JWT__TOKEN_ALGORITHM=
SCHOOL_SITE_APP_ACCESS_TOKEN__TOKEN_LIFETIME_MINUTES=
SCHOOL_SITE_APP_REFRESH_TOKEN__TOKEN_LIFETIME_DAYS=