SCHOOL_SITE_APP_DEBUG=True
SCHOOL_SITE_APP_BASE_URL=http://localhost:8080
SCHOOL_SITE_APP_DB__PROVIDER=postgresql+psycopg_async
SCHOOL_SITE_APP_DB__HOST=db
SCHOOL_SITE_APP_DB__PORT=5432
SCHOOL_SITE_APP_DB__USER=postgres
SCHOOL_SITE_APP_DB__PASSWORD=password
SCHOOL_SITE_APP_DB__NAME=school_site
SCHOOL_SITE_APP_CORS_ORIGINS=[http://localhost,http://localhost:3000]
SCHOOL_SITE_APP_SECRET_KEY=upiI6EHXfViuGZhrgCnvyjJiYFwSI5c1

SCHOOL_SITE_APP_JWT__TOKEN_ALGORITHM=HS256
SCHOOL_SITE_APP_ACCESS_TOKEN__TOKEN_LIFETIME_MINUTES=5
SCHOOL_SITE_APP_REFRESH_TOKEN__TOKEN_LIFETIME_DAYS=7

SCHOOL_SITE_APP_MINIO__ENDPOINT=minio:9000
SCHOOL_SITE_APP_MINIO__ACCESS_KEY=minioadmin
SCHOOL_SITE_APP_MINIO__SECRET_KEY=minioadmin
SCHOOL_SITE_APP_MINIO__SECURE=False


